pkgbase = git-profile-switcher-bin
	pkgdesc = Cross-platform desktop tray app for managing multiple Git identities
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Kinau-Guatemala/git-profile-switcher
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libcups
	depends = libdrm
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxfixes
	depends = libxkbcommon
	depends = at-spi2-core
	depends = mesa
	provides = git-profile-switcher
	conflicts = git-profile-switcher
	conflicts = git-profile-switcher-git
	options = !strip
	source = git-profile-switcher-bin-1.0.0.AppImage::https://github.com/Kinau-Guatemala/git-profile-switcher/releases/download/v1.0.0/Git%20Config%20Switcher-1.0.0.AppImage
	source = LICENSE-1.0.0::https://raw.githubusercontent.com/Kinau-Guatemala/git-profile-switcher/v1.0.0/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = git-profile-switcher-bin
