pkgbase = git-profile-switcher
	pkgdesc = Cross-platform desktop tray app for managing multiple Git identities
	pkgver = 1.0.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/auyjos/GithubProfileSwitcher
	arch = x86_64
	license = MIT
	depends = fuse2
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	source = git+https://github.com/auyjos/GithubProfileSwitcher.git
	source = git-profile-switcher.desktop
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = git-profile-switcher-git
	provides = git-profile-switcher
	conflicts = git-profile-switcher
